.footer {
  text-align: center;
  padding: 1.5rem;
  background-color: #333;
  color: #fff;

  text-align: center;

  position: relative; /* Remove fixed or absolute positioning */
}
/* Footer.css */
.footer {
  text-align: center;
  padding: 1rem;
  background-color: #333;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-links a {
  color: #61dafb;
  margin: 0 0.5rem;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}
